.landing_page {
	text-align: center;
	padding: 30px;

}

.landing_page h1 {
	font-family: 'Roboto Slab', serif;
	font-weight: 800;
	font-size: 50px;
	line-height: 78px;
	margin-top: 50px;
	margin-bottom: 10px;
}

.landing_page h2 {
	font-family: 'Allura', cursive;
	font-weight: 400;
	font-size: 35px;
	line-height: 34px;
	margin-bottom: 50px;
}

.landing_page h3 {
	font-family: 'Playfair Display', serif;
	font-style: normal;
	font-weight: 200;
	font-size: 28px;
	line-height: 34px;
	margin-bottom: 50px;
}

.about_button, .project_button {
	display: inline-block;
	margin-right: 70px;
	margin-left: 70px;
	list-style-type: none;
	background-color: #651DBA;
	border-radius: 10px; 
	border: 1px solid #651DBA;
	font-size: 16px;
}

.landing_page .project_button  button {
	background-color: #651DBA;
	color: white;
	border-radius: 10px; 
	border: 1px solid #651DBA;
	font-size: 16px;
	padding: 14px 28px;
}

.landing_page .about_button button {
	background-color: #651DBA;
	color: white;
	border-radius: 10px; 
	border: 1px solid #651DBA;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	padding: 14px 28px;
}

.landing_page .project_button button.active {
	background-color: #651DBA;
}

.landing_page .about_button button.active {
	background-color: #651DBA;
}

.landing_page .project_button button:hover {
	background-color: #F4EEEE;
	color: #651DBA;
}

.landing_page .about_button button:hover {
	background-color: #F4EEEE;
	color: #651DBA;
}

@media (max-width: 772px) {	
	.landing_page h1 {
		font-size: 40px;
		margin-top: 25px;
		margin-bottom: 5px;
	}

	.landing_page h2 {
		font-size: 25px;
		margin-bottom: 25px;
	}

	.landing_page h3 {
		font-size: 18px;
		margin-bottom: 25px;
	}

	.landing_page .project_button  button {
		display: flex;
	    justify-content: space-between;
	    margin: 30 auto;
	}

	.landing_page .about_button button {
		display: flex;
	    justify-content: space-between;
	    margin: 0 auto;
	}

}

@media (max-width: 446px) {	
	.landing_page h1 {
		font-size: 25px;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.landing_page h2 {
		font-size: 20px;
		margin-bottom: 10px;
	}

	.landing_page h3 {
		font-size: 15px;
		margin-bottom: 10px;
	}	

}
