.projects_page {
	padding: 30px;
}

.projects_page h1 {
	margin-bottom: 50px;
	font-family: 'Roboto Slab', serif;
	font-size: 36px;	
}

.projects_page .wrapper {
	display: flex;
	flex-direction: column;
	gap: 50px;
}

.projects_page .wrapper .project_card {
	display: flex;	
}

.projects_page .wrapper .project_card .content_wrapper h2 {
	font-family: 'Playfair Display', serif;
	margin-bottom: 50px;
}

.projects_page .wrapper .project_card .content_wrapper p {
	font-family: 'Open Sans', sans-serif;
}

.projects_page .wrapper .project_card .image_wrapper img {
	width: 100%;
}

.projects_page .wrapper .project_card .image_wrapper, 
.projects_page .wrapper .project_card .content_wrapper {
	width: 50%;
}

@media (max-width: 765px) {
	.projects_page h1 {
		font-size: 30px;
		margin-bottom: 20px;
	}

	.projects_page .wrapper .project_card .content_wrapper h2 {
		margin-bottom: 10px;
		font-family: 'Playfair Display', serif;
		font-size: 20px;
	}

	.projects_page .wrapper .project_card {
		flex-direction: column;	
	}

	.projects_page .wrapper .project_card .content_wrapper {
		margin-bottom: 30px;
	}

	.projects_page .wrapper .project_card .image_wrapper, 
	.projects_page .wrapper .project_card .content_wrapper {
		width: 100%;
	}
}