.about_page {
	padding: 30px;
}

.about_page .about_me_section h1 {
	margin-bottom: 50px;	
	font-family: 'Roboto Slab', serif;
	font-size: 36px;
}

.about_page .about_me_section h2 {
	margin-bottom: 50px;	
	font-family: 'Playfair Display', serif;
	font-size: 26px;
}

.about_page .about_me_section .about_list li {
	font-family: 'Open Sans', sans-serif;
	list-style-type: disc;
}

.about_page .interests_wrapper {
	display: flex;
	flex-direction: column;
	gap: 50px;
}

.about_page .interests_wrapper h2 {
	margin-top: 50px;
	font-family: 'Playfair Display', serif;
	font-size: 26px;
}

.about_page .interests_wrapper .about_card {
	display: flex;
}

.about_page .interests_wrapper .about_card .interest_content_wrapper, 
.about_page .interests_wrapper .about_card .interest_images_wrapper {
	width:50%;
}


.about_page .interests_wrapper .about_card .interest_content_wrapper h3 {
	margin-bottom: 50px;
	font-family: 'Allura', cursive;
	font-size: 20px;
}

.about_page .interests_wrapper .about_card .interest_content_wrapper p {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	width:50%;
}

.about_page .interests_wrapper .about_card .interest_images_wrapper img {
	width: 50%;
}

@media (max-width: 772px) {
	.about_page .about_me_section h1 {
	margin-bottom: 20px;	
	font-size: 30px;
	}

	.about_page .about_me_section h2 {
	margin-bottom: 20px;	
	font-size: 20px;
	}

	.about_page .interests_wrapper {
	gap: 20px;
	}

	.about_page .interests_wrapper h2 {
	margin-top: 20px;	
	font-size: 20px;
	}

	.about_page .interests_wrapper .about_card {
	flex-direction: column;
	}	

	.about_page .interests_wrapper .about_card .interest_content_wrapper, 
	.about_page .interests_wrapper .about_card .interest_images_wrapper {
	width: 100%;
	}

	.about_page .interests_wrapper .about_card .interest_content_wrapper h3 {
	margin-bottom: 20px;
	font-size: 16px;
	}

	.about_page .interests_wrapper .about_card .interest_content_wrapper p {
	font-size: 10px;
	margin-bottom: 20px;
	}
}
