.nav {
	display: inline;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	gap: 2 rem;
	padding: 0 1 rem;
	margin: 0;
}

.nav ul {
	padding:  0;
	list-style: none;
	font-family: 'Open Sans', sans-serif;
	display: flex;
	gap: 50px;
	margin-right: 50px;
	margin-top: 20px;
}

.nav a {
	text-decoration: none;
	color: inherit;
	display: flex;
	height: 100%;
	align-items: center;
	padding: .25 rem;

}

.nav li.active {
	background-color: white;
}

.nav li:hover {
	background-color: #651DBA;

}

.landing {
	margin-top: 30px;
	margin-left: 30px;
	font-size: 30px;
	font-family: 'Allura', cursive;
}

.about-list, .project-list {

	margin-top: 15px;
	margin-right: 20px;
}

.nav ul a button {
	background-color: #651DBA;
	color: white;
	border-radius: 10px; 
	border: 1px solid #651DBA;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	padding: 14px 28px;
}

@media (max-width: 772px) {
	.nav ul {
		display: block;
	} 	
}